{
  "bracketSpacing": false,
  "printWidth": 120,
  "singleQuote": true,
  "tabWidth": 2,
  "semi": false,
  "endOfLine": "lf",
  "trailingComma": "none",

  "importOrder": [
    "^react$",
    "<THIRD_PARTY_MODULES>",

    "^@app(.*)$",
    "^@pages(.*)$",
    "^@widgets(.*)$",
    "^@features(.*)$",
    "^@entities(.*)$",
    "^@shared(.*)$",

    "^../(.*)$",
    "^./(.*)$"
  ],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true
}
