@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --font-scale: 1.15;
  }

  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    /* Hide scrollbar */
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }

  *::after,
  *::before {
    margin: 0;
    padding: 0;
  }

  /* Hide scrollbar. Chrome, Opera, Safari */
  *::-webkit-scrollbar {
    display: none;
  }

  html {
    font-family: Rubik;
    font-size: calc(16px * var(--font-scale));
    user-select: none;
  }
}

@font-face {
  font-family: 'Rubik';
  src: url('../shared/assets/fonts/Rubik-Regular.ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Rubik';
  src: url('../shared/assets/fonts/Rubik-Regular.ttf');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Rubik';
  src: url('../shared/assets/fonts/Rubik-Medium.ttf');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Rubik';
  src: url('../shared/assets/fonts/Rubik-SemiBold.ttf');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Rubik';
  src: url('../shared/assets/fonts/Rubik-Bold.ttf');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Rubik';
  src: url('../shared/assets/fonts/Rubik-ExtraBold.ttf');
  font-weight: 800;
  font-style: normal;
}
